# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\.shortcut-targets-by-id\1ci2vJ5aX2k2lgP2eRFeEjPHLl0DkkLb-\KERMIT2.0\kerMIT\kerMIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
